# env variables

# Flask secret key for sessions
SECRET_KEY=""

# Google GenAI API
GOOGLE_API_KEY=""

# DB Settings
MAIN_DB_URL=""
MAIN_DB_USER=""
MAIN_DB_PASSWORD=""
MAIN_DB_HOST=""
MAIN_DB_PORT=""
MAIN_DB_NAME=""

# Supabase
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_BUCKET=""